* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

#header {
    padding: 25px 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: ani 2s;
}

@keyframes ani {
    0% {
        transform: translateY(-500px);
    }
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    padding-left: 16px;
    color: #173A56;
    font-size: 30px;
    font-weight: 700;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-navbar a {
    padding: 0 20px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
}

.header-buttons button {
    margin: 0 12px;
}

.btn-one {
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    color: #173A56;
    font-size: 16px;
    font-weight: 600;
}

.btn-one:hover {
    color: #FFF;
    background: #02897A;
    transform: scale(1.1);
}

.btn-two {
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #02897A;
    background: #02897A;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.btn-two:hover {
    color: #173A56;
    transform: scale(1.1);
    background: transparent;
}

.header-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #F3F3F3;
}

.header-icon ion-icon {
    color: #02897A;
    font-size: 20px;
}

#hero {
    padding: 50px 0;
}

.hero-text h1 {
    width: 418px;
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.hero-text p {
    width: 458px;
    padding: 18px 0 45px 0;
    color: #22343D;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.hero-buttons button {
    border-radius: 4px;
    background: #02897A;
    padding: 15px 45px;
    border: 1px solid #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.hero-buttons {
    display: flex;
    align-items: center;
}

.hero-buttons button:hover {
    color: #02897A;
    background: transparent;
    transform: scale(1.1);
}

.hero-buttons a ion-icon {
    padding: 0 8px 0 30px;
    color: #02897A;
    font-size: 30px;
}

.hero-buttons a h3 {
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
}

.hero-buttons a {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: hero 2s;
}

@keyframes hero {
    0% {
        transform: translateX(-500px);
    }
    70% {
        transform: rotate(360deg);
    }
}

#product {
    background: url("../img/product-bg.png") no-repeat center/cover;
    min-height: 60vh;
    padding: 50px 0;
}

.product h1 {
    padding-bottom: 66px;
    color: #22343D;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.product-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: #02897A;
}

.product-block h4 {
    padding: 30px 0 13px 0;
    color: #22343D;
    font-size: 22px;
    font-weight: 600;
}

.product-block p {
    width: 240px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.product-general {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-icon-two {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: #4D8DFF;
}

.product-icon-three {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: #740A76;
}

.product-icon-four {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: #F03E3D;
}

.product button {
    border-radius: 4px;
    background: #02897A;
    padding: 14px 32px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #02897A;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.product button:hover {
    color: #02897A;
    background: transparent;
    transform: scale(1.1);
}

#management {
    padding: 120px 0;
}

.management-text h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.management-text h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}

.management-text p {
    padding: 23px 0 30px 0;
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.management-text h4 {
    padding-bottom: 12px;
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.management-text h6 {
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.management {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-group h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.customer-group h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}

.customer-group p {
    padding: 23px 0 30px 0;
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.customer-icon {
    width: 35px;
    height: 35px;
    background: #FF9900;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-icon ion-icon {
    color: white;
    font-size: 20px;
}

.icon-general h6 {
    padding-left: 30px;
    width: 365px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.icon-general {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.customer-icon-two {
    width: 35px;
    height: 35px;
    background: #F03E3D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
}

.customer-icon-two ion-icon {
    color: white;
    font-size: 20px;
}

.customer-icon-three {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D8DFF;
    border-radius: 19px;
}

.customer-icon-three ion-icon {
    color: white;
    font-size: 20px;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#collabarative {
    padding: 120px 0;
}

.collabarative-text h3 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.collabarative-text h1 {
    color: #22343D;
    font-size: 32px;
    font-weight: 700;
}

.collabarative-text p {
    width: 486px;
    padding: 23px 0 30px 0;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.collabarative-text h4 {
    color: #22343D;
    font-size: 16px;
    font-weight: 600;
}

.collabarative-text h6 {
    padding: 12px 0 25px 0;
    width: 486px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.collabarative {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#process {
    padding-top: 52px;
    background: url("../img/process-bg.png") no-repeat center/cover;
    min-height: 60vh;
}

.process h1 {
    color: #22343D;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.process p {
    width: 542px;
    margin: 0 auto;
    padding: 16px 0 46px 0;
    color: #22343D;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.process-text {
    margin: 0 16px 0 16px;
    width: 274px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background: #FFF;
    box-shadow: 0 2px 15px 0 rgba(23, 58, 86, 0.10);
}

.process-text h6 {
    color: #2F281E;
    font-size: 16px;
    font-weight: 500;
}

.process-image {
    display: flex;
    align-items: center;
}

.process-general {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 55px;
}

.process button {
    border-radius: 4px;
    background: #02897A;
    padding: 15px 30px;
    margin: 0 auto;
    display: flex;
    border: 2px solid #02897A;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.process button:hover {
    color: #02897A;
    background: transparent;
    transform: scale(1.1);
}

#contents {
    padding: 120px 0;
}

.contents h1 {
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
}

.contents p {
    padding: 8px 0 33px 0;
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
}

.contents-block {
    width: 348px;
    height: 359px;
    border-radius: 8px;
    transition: .4s;
    background: white;
    border: 2px solid #BCD0E5;
}

.contents-block h3 {
    padding: 24px 0 12px 24px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
}

.contents-block h3 span {
    color: #22343D;
    font-weight: 700;
    transition: .4s;
}

.contents-block h2 {
    padding-left: 24px;
    width: 294px;
    color: #22343D;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.contents-block:hover h2 {
     color: #02897A;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.price h1 {
    text-align: center;
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
}

.price p {
    padding: 8px 0 50px 0;
    text-align: center;
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
}

.price-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-block {
    width: 322px;
    height: 456px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .4s;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-block:hover {
    background: #02897A;
    transform: scale(1.1);
}

.price-block:hover h2,
.price-block:hover h6,
.price-block:hover h5 {
    color: white;
}

.price-block:hover button {
    color: #02897A;
    background: #FFF;
}

.price-block:hover .price-title h3 {
    color: white;
}

.price-block:hover .price-dollar h4 {
    color: white;
}

.price-block h2 {
    text-align: center;
    color: #22343D;
    font-size: 24px;
    font-weight: 700;
}

.price-block h6 {
    padding: 8px 0 16px 0;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
}

.title-h3 {
    padding-right: 8px;
    color: #02897A;
    font-size: 76px;
    font-weight: 700;
}

.price-dollar h4 {
    padding-bottom: 4px;
    color: #02897A;
    font-size: 24px;
    font-weight: 700;
}

.price-h3 {
    color: #AFAFAF;
    font-size: 16px;
    font-weight: 400;
}

.price-title {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.price-block h5 {
    padding-bottom: 16px;
    color: #22343D;
    font-size: 16px;
    font-weight: 500;
}

.price-block button {
    border-radius: 8px;
    background: #02897A;
    padding: 11px 18px;
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

#client {
    padding: 120px 0;
}

.client h1 {
    text-align: center;
    color: #22343D;
    font-size: 34px;
    font-weight: 700;
}

.client p {
    width: 537px;
    margin: 0 auto;
    padding: 8px 0 50px 0;
    color: #22343D;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.client-block {
    width: 300px;
    height: 216px;
    padding: 28px 0 0 28px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.client-icons ion-icon {
    color: #F3CD03;
    font-size: 20px;
}

.client-block h6 {
    width: 275px;
    padding: 16px 0;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.client-title {
    display: flex;
    align-items: center;
}

.client-text {
    padding-left: 14px;
}

.client-text h3 {
    padding-bottom: 4px;
    color: #02897A;
    font-size: 16px;
    font-weight: 600;
}

.client-text h4 {
    color: #252B42;
    font-size: 14px;
    font-weight: 500;
}

.client-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#join {
    padding: 50px 0;
}

.join {
    width: 968px;
    height: 345px;
    border-radius: 32px;
    background: #02897A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.join-text {
    padding-left: 50px;
}

.join-text h2 {
    width: 510px;
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 151.4%;
}

.join-text button {
    border-radius: 8px;
    margin-top: 40px;
    background: #FFF;
    padding: 13px 33px;
    color: #02897A;
    font-size: 20px;
    font-weight: 600;
}

#footer {
    padding: 50px 0;
}

.footer-logo img {
    padding-bottom: 24px;
}

.footer-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #EDFFFC;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon ion-icon {
    color: #02897A;
    font-size: 20px;
}

.footer-icon-general {
    display: flex;
    align-items: center;
}

.footer-navbar {
    display: flex;
    flex-direction: column;
}

.footer-navbar h3 {
    color: #22343D;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.footer-navbar a {
    padding-bottom: 10px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
}

.footer-input h4 {
    width: 280px;
    color: #22343D;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.footer-input input {
    width: 325px;
    height: 48px;
    border-radius: 4px;
    margin: 34px 0 21px 0;
    border: 1px solid #BCD0E5;
    background: #FFF;
    outline: none;
    padding-left: 15px;
}

.footer-input div button {
    border-radius: 4px;
    background: #02897A;
    padding: 8px 15px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.footer-general {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer h6 {
    text-align: center;
    padding-top: 37px;
    color: #22343D;
    font-size: 16px;
    font-weight: 400;
}